* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #555;
  background: #ffffff;
  position: relative;
}

input,
textarea {
  font-family: "Roboto Mono", monospace;
}

.height-constraints.full_width {
  width: 100%;
  justify-content: center;
}
.height-constraints.full_width.height-constraints {
  min-height: auto;
}

.bg_slight {
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.12);
  border: 1px solid #dddddd;
}

.section-input.input_bigger {
  display: flex;
  margin-left: 0;
  min-width: 15em;
}
.section-input.input_bigger.asm_width {
  min-width: 22em;
}
.section-input.input_bigger .flexbar {
  padding: 10px;
  width: 100%;
}
.section-input.input_bigger .flexbar .button.button_style {
  margin-bottom: 10px;
}
.section-input.input_bigger .left_textarea {
  min-width: calc(100% - 20px);
  max-width: calc(100% - 20px);
  border: 1px solid #dddddd;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 10px 10px;
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
}
.section-input.input_bigger .left_textarea:focus {
  border-color: #a7bfbf;
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.12);
  outline: none;
}
.section-input.input_bigger button.button_style {
  font-size: 12px;
  white-space: nowrap;
}

.checkbox_style {
  margin-left: 0px;
  cursor: pointer;
  margin-bottom: 14px;
}
.checkbox_style input[type=checkbox] {
  accent-color: #6f79b0;
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.checkbox_style input[type=checkbox] {
  display: none;
}
.checkbox_style input[type=checkbox] + label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #6f79b0;
  border-radius: 3px;
  margin-right: 8px;
  top: 4px;
  position: relative;
}
.checkbox_style input[type=checkbox] + label::after {
  content: "";
  border-right: 2px solid rgb(255, 255, 255);
  height: 8px;
  width: 3px;
  border-bottom: 2px solid rgb(255, 255, 255);
  top: 6px;
  left: 6px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox_style input[type=checkbox]:checked + label::before {
  background-color: #6f79b0;
}
.checkbox_style label {
  cursor: pointer;
  position: relative;
}

button.button_style {
  background: #dddddd;
  cursor: pointer;
  padding: 4px 5px;
  text-align: center;
  line-height: 22px;
  font-size: 14px;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin: 0;
  font-size: 12px;
}
button.button_style:focus {
  outline: none;
  box-shadow: none;
  border-color: #5466cc;
}
button.button_style:hover {
  background-position: right center; /* change the direction of the change here */
  background: #eaedff;
  text-decoration: none;
}

.file-area .file-dummy {
  font-size: 12px;
}

.middle_area {
  padding: 10px;
  min-width: unset;
}
.middle_area .quotemark {
  background: #dddddd;
  border: 0px;
  cursor: pointer;
  border: 1px solid #555555;
  transition: all 0.3s ease-in-out;
}
.middle_area .quotemark:focus {
  outline: 0;
  box-shadow: none;
}
.middle_area .quotemark:hover {
  background-position: right center; /* change the direction of the change here */
  background: #eaedff;
  text-decoration: none;
}
.middle_area button.button_style {
  max-width: 60px;
  padding: 2px 4px;
  margin: 0px;
  margin-right: 8px;
  white-space: nowrap;
}
.middle_area button.button_style.btn_w {
  max-width: fit-content;
  margin-right: 0;
  margin-left: auto;
}
.middle_area .flex-row.memory_align {
  align-items: center;
  width: 100%;
  margin: 5px 0px;
}
.middle_area .flex-row.memory_align label {
  font-size: 14px;
}
.middle_area .flex-row.memory_align.end_top_m {
  margin: 8px 0 10px;
}
.middle_area .flex-row.memory_align.end_top_m .file_memory {
  margin-right: 8px;
}
.middle_area .flex-row.memory_align.end_top_m .button_style {
  width: fit-content;
  border-radius: 5px;
}
.middle_area .flex-row.memory_align.end_top_m .button_style.m-0 {
  margin-right: 0;
}
.middle_area .flex-row.memory_align.end_top_m .button_style:last-child {
  margin-left: 5px;
}
.middle_area input.numedit {
  border: 0px;
  border-bottom: 1px solid #818181;
  outline: none;
  padding: 0px 0px 0;
  margin: 0px 10px;
  margin-left: 5px;
  max-width: 60px;
}
.middle_area input.numedit:focus {
  border-color: #a7bfbf;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.05);
  outline: none;
}
.middle_area .checkbox_style {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-bottom: 6px;
}
.middle_area .checkbox_style input[type=checkbox] + label::before {
  margin-right: 2px;
}
.middle_area .checkbox_style label.smalllabel {
  font-size: 12px;
  white-space: nowrap;
}

.popup.input_focus {
  border: 1px solid #dddddd;
  padding: 2px;
  padding-left: 4px;
}
.popup.input_focus:focus {
  outline: none;
}

.table_middle {
  min-width: unset;
  width: 100%;
}
.table_middle .table_round {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #dddddd;
  border-left: 0px;
  border-bottom: 0;
}
.table_middle .table_round tbody tr {
  border-color: transparent;
}
.table_middle table.table_inner {
  border-radius: 8px;
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.05);
}
.table_middle thead tr th.table-header {
  padding: 6px 5px;
  background: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(255, 255, 255);
}
.table_middle thead tr th.table-header:first-child {
  border-top-left-radius: 8px;
}
.table_middle thead tr th.table-header:last-child {
  border-top-right-radius: 8px;
}
.table_middle tbody tr {
  border-right: 1px solid #dddddd;
}
.table_middle tbody tr td.memory-address {
  background: #dddddd;
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 35px;
}
.table_middle tbody tr .memory-cell {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #dddddd;
}
.table_middle tbody tr .memory-cell:hover {
  background-color: rgba(83, 80, 177, 0.2);
}
.table_middle tbody tr .memory-cell[data-mark="1"] {
  background-color: #e4e4f2;
}
.table_middle tbody tr .memory-cell[data-mark="1"]:hover {
  background-color: rgba(83, 80, 177, 0.3);
}
.table_middle tbody tr .memory-cell[data-mark="2"] {
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 0);
}
.table_middle tbody tr .memory-cell[data-mark="2"]:hover {
  background: rgb(249, 87, 87);
}
.table_middle tbody tr .memory-cell[data-mark="3"] {
  background: rgb(255, 121, 121);
  color: rgb(255, 255, 255);
}

#eipRow .memory-cell {
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 0);
}
#eipRow .memory-cell:hover {
  background: rgb(249, 87, 87);
}

.rightarea {
  margin-right: 0px;
  gap: 10px;
  min-width: unset;
  width: unset;
}
.rightarea .cpu_area,
.rightarea .printer_area,
.rightarea .teleprinter_area {
  margin: 0;
}
.rightarea .button_style {
  width: fit-content;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 5px;
  margin: 5px 0;
  margin-right: 5px;
  white-space: nowrap;
}
.rightarea .button_style.mb-0 {
  margin-bottom: 5px;
}
.rightarea .numedit {
  border: 0px;
  border-bottom: 1px solid #818181;
  outline: none;
  margin-right: 5px;
  margin-left: 5px;
  max-width: 55px;
  margin-right: 0;
}
.rightarea .cpu_area .cpu_align {
  align-items: center;
}
.rightarea .cpu_area .cpu_align .button_style {
  margin-bottom: 0;
  margin-top: 5px;
}
.rightarea .cpu_table .cpu_xsd {
  margin: 5px 10px;
}
.rightarea .cpu_table .table_inside {
  border-radius: 8px;
  overflow: hidden;
}
.rightarea .cpu_table .table_inside .table_body {
  background: #dddddd;
}
.rightarea .cpu_table .table_inside .table-header {
  padding: 6px 5px;
  background: rgb(0, 0, 0);
}
.rightarea .table_middle tbody tr:first-child td.memory-cell {
  color: #555555;
}
.rightarea .table_middle tbody tr td.memory-cell {
  padding: 2px 4px;
}

.table_middle .registers-panel,
.cpu_table .flags-panel {
  margin-right: 10px;
  margin-left: 10px;
}

.cpu_table .flags-panel:last-child,
.table_middle .registers-panel:last-child {
  margin-left: 0;
}

.clear-table th,
.clear-table td {
  padding: 4px 4px;
}

.printer_area,
.teleprinter_area {
  padding: 5px 10px 5px;
  margin-top: 8px;
}
.printer_area .button_style,
.teleprinter_area .button_style {
  width: fit-content;
  margin-top: 0;
}
.printer_area .printer_textarea,
.teleprinter_area .printer_textarea {
  border: 1px solid #dddddd;
  outline: none;
  padding: 5px 15px;
  border-radius: 10px;
  margin: 0 0;
  margin-left: 0;
  width: 100%;
  overflow: auto;
}
.printer_area .printer_textarea:focus,
.teleprinter_area .printer_textarea:focus {
  border-color: #a7bfbf;
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.12);
  outline: none;
}

.section-input.input_bigger,
.middle_area,
.rightarea {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mainbody {
  height: calc(100vh - 40px);
  min-height: 668px;
  padding-top: 88px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  min-width: 1094px;
}
.mainbody .section-input.input_bigger,
.mainbody .middle_area,
.mainbody .rightarea {
  height: 100%;
}

.rightarea {
  overflow: hidden;
}

.topbar,
.navdirection {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background: rgb(255, 255, 255);
}

.containertop {
  max-width: 1094px;
  width: 100%;
  padding: 0px 8px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.topbar {
  border: 0px;
  z-index: 50;
  padding: 4px 8px;
}

.navdirection {
  top: 42px;
  padding: 2px 8px;
}
.navdirection .breadcrumb {
  margin-left: 0;
}
.navdirection .breadcrumb h1 {
  font-size: 14px;
}

.footer {
  bottom: 0;
  top: unset;
  padding: 5px 8px;
  border-top: 1px solid #dddddd;
  background: rgb(255, 255, 255);
}
.footer .toolbar-horizontal a:last-child {
  margin-right: 0;
}

.link_style a {
  color: #5350b1;
  text-decoration: none;
  position: relative;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
.link_style a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #6f79b0;
  transition: all 0.3s ease-in-out;
}
.link_style a:hover {
  color: #6f79b0;
  transition: all 0.3s ease-in-out;
}
.link_style a:hover::before {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.menu_style {
  align-items: center;
}
.menu_style li {
  background: none;
  border: 0px;
  padding: 0;
}
.menu_style li:hover {
  border: 0px;
  background: none;
}
.menu_style li {
  padding: 0px 14px;
}
.menu_style li:hover a {
  color: #5350b1;
}
.menu_style li a,
.menu_style .menu_title {
  color: #5350b1;
  border: 0px;
  border-radius: 5px;
  position: relative;
  padding: 4px 0px;
  transition: all 0.3s ease-in-out;
  margin: 0px 5px;
  overflow: hidden;
  text-transform: uppercase;
}
.menu_style li a::before,
.menu_style .menu_title::before {
  content: "";
  position: absolute;
  width: 20%;
  height: 1px;
  border-radius: 5px;
  background: #6f79b0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
.menu_style li a:hover,
.menu_style .menu_title:hover {
  color: #6f79b0;
  transition: all 0.3s ease-in-out;
  border: 0;
  background: none;
}
.menu_style li a:hover::before,
.menu_style .menu_title:hover::before {
  opacity: 1;
  width: 100%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transition: all 0.3s ease-in-out;
}
.menu_style .dropdown_menu {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.menu_style .dropdown_menu .menu_title {
  font-size: 15px;
  cursor: pointer;
  padding: 0;
}
.menu_style .dropdown_menu .menu_title img {
  width: 14px;
  height: auto;
  margin-left: 5px;
  top: 0px;
  position: relative;
  transform: rotateX(180deg);
  transition: all 0.3s ease-in-out;
}
.menu_style .dropdown_menu .menu_title::before {
  display: none;
}
.menu_style .dropdown_menu .menu_item {
  position: absolute;
  top: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, -50%);
  transition: all 0.3s ease-in-out;
}
.menu_style .dropdown_menu .menu_item li {
  list-style: none;
  display: block;
  padding-left: 0;
  padding-right: 0;
}
.menu_style .dropdown_menu .menu_item li a {
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.12);
  display: block;
  margin: 0;
  width: 100%;
  text-align: left;
  padding: 10px 5px 10px 15px;
}
.menu_style .dropdown_menu:hover .menu_title img {
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}
.menu_style .dropdown_menu:hover .menu_item {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0%);
  transition: all 0.3s ease-in-out;
}

.site-header svg:hover,
.page-header svg:hover,
.page-footer svg:hover {
  fill: #5350b1;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.preloader div {
  width: 15px;
  height: 15px;
  margin: 5px;
  background: #5350b1;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.preloader div:nth-child(2) {
  animation-delay: 0.2s;
}

.preloader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
    opacity: 0.5;
  }
}
.memory_popup,
.cpu_popup,
.character_popup {
  z-index: -5;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  backdrop-filter: blur(0px);
  position: fixed;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  z-index: -5;
  transition: all 0.3s ease-in-out;
}
.memory_popup .bg_card,
.cpu_popup .bg_card,
.character_popup .bg_card {
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
.memory_popup.activemp, .memory_popup.activecpup,
.cpu_popup.activemp,
.cpu_popup.activecpup,
.character_popup.activemp,
.character_popup.activecpup {
  z-index: 190;
  opacity: 1;
  visibility: visible;
  pointer-events: fill;
  backdrop-filter: blur(5px);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.memory_popup.activemp .mp_card, .memory_popup.activecpup .mp_card,
.cpu_popup.activemp .mp_card,
.cpu_popup.activecpup .mp_card,
.character_popup.activemp .mp_card,
.character_popup.activecpup .mp_card {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease-in-out;
}
.memory_popup .mp_card,
.cpu_popup .mp_card,
.character_popup .mp_card {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 40px 15px 30px 20px;
  max-width: 560px;
  max-height: 380px;
  height: calc(100% - 30px);
  width: calc(100% - 20px);
  box-shadow: inset 0 0 8px #5350b1;
  overflow: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  -moz-transform: translate(-50%, -50%) scale(0.5);
  -ms-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  z-index: 95;
  transition: all 0.3s ease-in-out;
}
.memory_popup .mp_card ul,
.cpu_popup .mp_card ul,
.character_popup .mp_card ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
  max-width: 560px;
  max-height: 350px;
  height: 100%;
}
.memory_popup .mp_card ul li,
.cpu_popup .mp_card ul li,
.character_popup .mp_card ul li {
  list-style: none;
}
.memory_popup .mp_card ul li span,
.cpu_popup .mp_card ul li span,
.character_popup .mp_card ul li span {
  font-size: 16px;
}
.memory_popup .mp_card ul li span:first-child,
.cpu_popup .mp_card ul li span:first-child,
.character_popup .mp_card ul li span:first-child {
  font-weight: 600;
}
.memory_popup .mp_card ul li .memory_cells,
.cpu_popup .mp_card ul li .memory_cells,
.character_popup .mp_card ul li .memory_cells {
  padding-top: 10px;
}
.memory_popup .mp_card ul li .memory_cells p,
.cpu_popup .mp_card ul li .memory_cells p,
.character_popup .mp_card ul li .memory_cells p {
  display: block;
  margin-bottom: 5px;
}
.memory_popup .mp_card .clos_btn,
.cpu_popup .mp_card .clos_btn,
.character_popup .mp_card .clos_btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.memory_popup .mp_card .clos_btn img,
.cpu_popup .mp_card .clos_btn img,
.character_popup .mp_card .clos_btn img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.cpu_popup .mp_card {
  max-height: 200px;
}

.how_use_svg path {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.character_section {
  padding: 78px 0px 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1094px;
  margin: 0px auto;
  min-height: 700px;
}
.character_section.wider_character_section {
  max-width: fit-content;
}
.character_section .hardwarea_area,
.character_section .word_area {
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: stretch;
  padding: 20px 15px;
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.12);
  border: 1px solid #dddddd;
  border-radius: 10px;
}
.character_section .hardwarea_area {
  margin-right: 0;
  margin-left: 0;
  flex: 1;
}
.character_section .hardwarea_area .hardwarea_title {
  text-align: left;
  padding-bottom: 10px;
}
.character_section .word_area {
  margin-right: 0;
}

.characters_radios {
  margin-bottom: 20px;
}

.hardware_names {
  gap: 15px;
  justify-content: space-between;
  align-items: flex-start;
}
.hardware_names .radio_names {
  gap: 15px;
  margin-bottom: 20px;
}
.hardware_names .radio_names .all_names {
  gap: 10px;
}
.hardware_names .radio_names .digit_radios {
  align-items: center;
  gap: 10px;
}
.hardware_names .radio_names .digit_radios p {
  font-weight: 600;
  font-size: 16px;
}
.hardware_names .radio_names .digit_radios .radios {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hardware_names .ch_radio {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hardware_names .checkbox_names {
  gap: 15px;
  margin-bottom: 20px;
  margin-top: 2px;
}

.details_h {
  display: block;
  width: 100%;
}
.details_h .counter-parent {
  height: 46px;
}
.details_h .counter {
  height: 46px;
  line-height: 36px;
}
.details_h .counter-gradient {
  height: 46px;
  top: -46px;
}

.checkbox_style {
  margin-bottom: 0;
  margin-left: 10px;
  line-height: 1;
}
.checkbox_style input[type=checkbox] + label::before {
  margin-right: 5px;
}
.checkbox_style label {
  line-height: 20px;
  margin-top: -3px;
  font-size: 13px;
}

.charecter_title {
  padding-bottom: 10px;
  text-align: left;
}

.blockdetailes {
  gap: 10px;
  width: 100%;
}
.blockdetailes .button_style {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 15px;
}
.blockdetailes.rangeblock {
  margin-bottom: 15px;
  justify-content: center;
}

.radios {
  align-items: center;
  position: relative;
}
.radios input[type=radio] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #555555;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
}
.radios label {
  line-height: 20px;
  font-size: 13px;
  cursor: pointer;
}
.radios input[type=radio]:checked {
  border-color: #6f79b0;
}
.radios input[type=radio]:checked + label::before {
  background: #6f79b0;
}
.radios label::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: transparent;
  left: 3px;
  top: 5px;
}

.counters_area {
  grid-gap: 5px;
  justify-content: flex-start;
  align-items: baseline;
}
.counters_area .alignRightCenter {
  min-width: 100px;
  font-size: 13px;
  text-align: right;
}
.counters_area .checkbox_style {
  margin-bottom: 0;
  margin-left: 0;
}
.counters_area .numinput {
  border: 1px solid #dddddd;
  outline: none;
  padding: 10px 15px;
  border-radius: 8px;
  margin: 0 0;
  margin-left: 0;
}
.counters_area .numinput:focus {
  border-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.12);
  outline: none;
}
.counters_area .counterhead {
  margin-bottom: 5px;
}
.counters_area .counter_input {
  margin-bottom: 8px;
}
.counters_area .counter_range {
  gap: 8px;
}
.counters_area .value_space {
  display: flex;
  gap: 10px;
  align-items: center;
}

.popup_dialog {
  left: 50% !important;
  top: 100px !important;
  transform: translate(-50%, 0%);
  position: fixed;
  border-radius: 8px;
  overflow: hidden;
  margin: 0;
}
.popup_dialog .clear-table {
  min-width: 23rem;
  width: 100%;
  height: 8rem;
}
.popup_dialog .clear-table tr {
  border-bottom: 1px solid #f8f9ff;
}
.popup_dialog .character-indexes {
  background: #bfc7f0;
}
.popup_dialog .character-cell:hover {
  background: rgba(83, 80, 177, 0.3) !important;
}
.popup_dialog .button.button_style {
  width: 20px;
  font-size: 16px;
  padding: 2px;
  border-radius: 5px;
  margin: 2px;
  line-height: 1;
}
.popup_dialog .section-header {
  font-size: 15px;
}

.text_section {
  padding: 70px 10px 10px;
  height: calc(100vh - 39px);
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1094px;
  margin: 0px auto;
  min-height: 600px;
}
.text_section .text_flex {
  display: flex;
  justify-content: space-between;
}
.text_section .text_flex .strings {
  height: 100%;
}
.text_section .text_flex .strings .left_text {
  width: 792px;
  border-radius: 10px;
  margin-bottom: 0;
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.12);
  height: calc(100% - 10px);
}
.text_section .text_flex .codepointhex {
  margin-right: 0;
  margin-bottom: 0;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.12);
}
.text_section .text_flex .textlabel {
  margin-top: 0;
  padding-left: 10px;
}
.text_section .text_flex .select_inside {
  padding-right: 5px;
  padding-left: 5px;
}
.text_section .text_flex .select_item {
  display: flex;
  margin: 0px 5px;
}
.text_section .text_flex .select_item label {
  font-size: 14px;
}
.text_section .text_flex .select_text {
  width: 100%;
  padding: 6px;
}
.text_section .text_flex .select_text:focus {
  border-color: #6f79b0;
  outline: none;
}
.text_section .text_flex .text_data option {
  padding: 3px 0;
}
.text_section .text_flex .textarea_text {
  width: calc(100% - 20px);
  margin: 0px 10px;
  border: 1px solid #dddddd;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 10px 10px;
  font-family: "Roboto Mono", monospace;
  height: 200px;
}
.text_section .text_flex .left_text {
  width: 680px;
}
.text_section .text_flex .left_text .text_data {
  width: calc(100% - 20px);
  margin: 0px 10px;
  border: 1px solid #dddddd;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 10px 10px;
  font-family: "Roboto Mono", monospace;
  overflow-y: auto;
}
.text_section .text_flex .button.button_style {
  width: max-content;
  border-radius: 5px;
  padding: 5px;
  line-height: 1;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 4px;
}
.text_section .codepointhex .hex_pl {
  padding-left: 10px;
}
.text_section .codepointhex .gap_hex {
  padding: 5px 0;
  gap: 10px;
}
.text_section .codepointhex .gap_hex label {
  font-size: 14px;
  white-space: nowrap;
}
.text_section .codepointhex .tree {
  width: 100%;
}
.text_section .codepointhex .nested {
  width: 100%;
}
.text_section .codepointhex .nested .tree-item {
  padding-right: 0;
}
.text_section .codepointhex .codepoint-buttons,
.text_section .codepointhex .codepoint-content {
  display: flex;
  gap: 5px;
}
.text_section .codepointhex .tree-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 5px 5px 0;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  justify-content: space-between;
}
.text_section .codepointhex .tree-item button {
  margin-left: 0;
  padding: 3px;
  cursor: pointer;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.text_section .codepointhex .tree-item button:hover {
  background: #eaedff;
  transition: all 0.2s ease-in-out;
}
.text_section .codepointhex .tree-item label {
  margin-left: 0;
  min-width: 75px;
}
.text_section .codepointhex .tree-item.data:has(> .caret.caret-down) {
  flex-direction: column;
  align-items: flex-start;
}
.text_section .codepointhex .tree-item.data:has(> .caret.caret-down) .nested .tree-item.data {
  border-bottom: 0;
}
.text_section .codepointhex .unicode-char {
  margin-left: 12px;
  min-width: 14px;
}
.text_section .codepoint-panel p {
  padding: 5px 10px;
}
.text_section .codepoint-panel p a {
  color: #5350b1;
}
.text_section .codepoint-panel-tree {
  min-width: unset;
}
.text_section .section-header {
  font-size: 16px;
}
.text_section .text_popup {
  border-radius: 10px;
}
.text_section .text_popup .button.button_style {
  width: max-content;
  margin: 5px;
  line-height: 15px;
  border-radius: 5px;
  height: 25px;
}

.extended_page .popup_dialog table {
  border-radius: 8px;
  overflow: hidden;
}
.extended_page .popup_dialog p {
  padding: 0px 10px 10px;
}
.extended_page .popup_dialog tr th,
.extended_page .popup_dialog tr td {
  font-size: 12px;
}
.extended_page .popup_dialog .byte-indexes {
  background: #bfc7f0;
}
.extended_page .popup_dialog .byte-cell:hover {
  background: rgba(83, 80, 177, 0.3) !important;
}
.extended_page .popup_dialog .section-header {
  margin-bottom: 0;
  margin-top: 0;
}
.extended_page .popup_dialog .codepage_select {
  padding: 2px 6px;
}

.extended_section {
  padding: 78px 5px 10px;
  display: flex;
  width: 100%;
  max-width: 1094px;
  margin: 0px auto;
  height: 100vh;
  min-height: 756px;
}
.extended_section .textarea_flex {
  height: 100%;
  flex: 1;
}
.extended_section .text_encode_area,
.extended_section .bytes_area,
.extended_section .decoded_area {
  margin-top: 0px;
  width: 100%;
  margin-right: 0px;
  margin-bottom: 0px;
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.12);
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 5px;
  flex: 1;
}
.extended_section .text_encode_area .section-header,
.extended_section .bytes_area .section-header,
.extended_section .decoded_area .section-header {
  margin: 0;
  font-size: 16px;
}
.extended_section .text_encode_area select.select_title,
.extended_section .bytes_area select.select_title,
.extended_section .decoded_area select.select_title {
  padding: 6px 6px;
  cursor: pointer;
  background: #dddddd;
  border: 1px solid #888;
  border-radius: 8px;
}
.extended_section .text_encode_area .button.button_style,
.extended_section .bytes_area .button.button_style,
.extended_section .decoded_area .button.button_style {
  width: max-content;
  margin-left: 5px;
  padding: 6px;
  line-height: 15px;
}
.extended_section .text_encode_area .extended_header,
.extended_section .bytes_area .extended_header,
.extended_section .decoded_area .extended_header {
  padding-bottom: 5px;
}
.extended_section .text_encode_area .textarea_inside,
.extended_section .bytes_area .textarea_inside,
.extended_section .decoded_area .textarea_inside {
  width: 100%;
  max-width: 100%;
  margin: 0px 10px;
  border: 1px solid #dddddd;
  outline: none;
  padding: 0px 5px;
  border-radius: 10px;
  margin: 0px;
  font-family: "Roboto Mono", monospace;
  flex: 1;
}
.extended_section .text_encode_area .textarea_inside:invalid,
.extended_section .bytes_area .textarea_inside:invalid,
.extended_section .decoded_area .textarea_inside:invalid {
  border-color: red;
}
.extended_section .text_encode_area label.mr_5,
.extended_section .bytes_area label.mr_5,
.extended_section .decoded_area label.mr_5 {
  margin-right: 5px;
  font-size: 14px;
}
.extended_section .text_encode_area .button.button_style,
.extended_section .bytes_area .button.button_style,
.extended_section .decoded_area .button.button_style {
  border-radius: 8px;
}
.extended_section .text_encode_area .byte_table,
.extended_section .bytes_area .byte_table,
.extended_section .decoded_area .byte_table {
  width: 100%;
  margin: 0;
  border-radius: 8px;
}
.extended_section .text_encode_area .byte_table tr,
.extended_section .bytes_area .byte_table tr,
.extended_section .decoded_area .byte_table tr {
  border-bottom: 1px solid #f8f9ff;
}
.extended_section .text_encode_area .byte_table .byte-indexes,
.extended_section .bytes_area .byte_table .byte-indexes,
.extended_section .decoded_area .byte_table .byte-indexes {
  background: #bfc7f0;
}
.extended_section .text_encode_area .byte_table .byte-cell:hover,
.extended_section .bytes_area .byte_table .byte-cell:hover,
.extended_section .decoded_area .byte_table .byte-cell:hover {
  background: rgba(83, 80, 177, 0.3) !important;
}
.extended_section .text_encode_area .button.button_style {
  width: 25px;
}
.extended_section .arrow {
  font-size: 30px;
}

.codepoint_page .popup_dialog {
  padding: 8px;
}
.codepoint_page .popup_dialog .clear-table {
  height: unset;
}
.codepoint_page .popup_dialog.encodingpopup .button.button_style {
  width: max-content;
  height: 25px;
  display: inline-block;
  font-size: 12px;
}
.codepoint_page .popup_dialog.encodingpopup .suggest_option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 8px 0px;
  padding-right: 40px;
  padding-left: 5em;
}
.codepoint_page .popup_dialog.encodingpopup p {
  font-size: 14px;
  padding: 6px 0;
}
/*.codepoint_page .popup_dialog.encodingpopup .bit_group {
  padding-left: 60px;
}*/
.codepoint_page .popup_dialog.encodingpopup .b-zero {
  border-top: 0;
}
.codepoint_page .popup_dialog.encodingpopup .codepoint_text {
  display: inline-block;
  white-space: nowrap;
}
.codepoint_page .popup_dialog.encodingpopup .codepage_btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}
.codepoint_page .popup_dialog.encodingpopup .codepage_btn .buttton.button_style {
  margin-bottom: 0;
  margin-top: 0;
}
.codepoint_page .popup_dialog.encodingpopup .codepoint_endcode {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #dddddd;
  padding: 5px 0;
}
.codepoint_page .popup_dialog.encodingpopup .codepoint_endcode .button.button_style {
  padding: 4px 6px;
}
.codepoint_page .popup_dialog.encodingpopup .b_area {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 5px;
  margin: 8px 0;
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.05);
}
.codepoint_page .popup_dialog.encodingpopup .b_area label {
  display: block;
  text-align: center;
}

.codepoint_section {
  padding: 78px 10px 0px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1094px;
  margin: 0px auto 10px;
  gap: 10px;
  min-height: 720px;
}
.codepoint_section .codepoint_area {
  width: 100%;
  margin: 0;
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.12);
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 5px;
}
.codepoint_section .codepoint_area.flex_height {
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
}
.codepoint_section .codepoint_middleblock {
  width: 100%;
  margin: 0;
}
.codepoint_section .codepoint_middleblock .codepoint_inside {
  width: 100%;
  margin: 0;
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.12);
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin: 0;
  padding: 5px;
}
.codepoint_section .section-header {
  margin: 0;
  font-size: 16px;
}
.codepoint_section .button.button_style {
  padding: 2px 5px;
  border-radius: 6px;
  width: max-content;
}
.codepoint_section .select_option {
  padding: 4px 6px;
  background: #ddd;
  border: 1px solid #888;
  border-radius: 6px;
  cursor: pointer;
}
.codepoint_section .numbers_allbtn .button_style {
  margin: 0px 4px;
}
.codepoint_section .numbers_table {
  width: calc(100% - 5px);
}
.codepoint_section .numbers_table table {
  border-radius: 8px;
  overflow: hidden;
  margin: 2px 0;
}
.codepoint_section .numbers_table table tr {
  border-bottom: 1px solid #f8f9ff;
}
.codepoint_section .numbers_table table tr td.digit-indexes {
  background: #bfc7f0;
}
.codepoint_section .numbers_table table tr td.digit-cell:hover {
  background: rgba(83, 80, 177, 0.3);
}
.codepoint_section .right_btns,
.codepoint_section .left_btns {
  display: flex;
}
.codepoint_section .middle_range_sarea {
  padding: 0px 20px;
}
.codepoint_section .middle_range_sarea .input_number {
  display: flex;
  gap: 10px;
}
.codepoint_section .middle_range_sarea .input_number input {
  padding: 2px 4px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  outline: none;
  margin: 0 0;
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.05);
  margin-left: 0;
}
.codepoint_section .middle_inside {
  width: 100%;
}
.codepoint_section .middle_table {
  width: 466px;
  margin-right: 10px;
}
.codepoint_section .middle_table .character_title {
  font-size: 13px;
}
.codepoint_section .middle_table table {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  margin-top: 5px !important;
}
.codepoint_section .middle_table table tr {
  border-bottom: 1px solid #f8f9ff;
}
.codepoint_section .middle_table table tr th:first-child {
  width: 120px;
}
.codepoint_section .middle_table table tr td.byte-indexes {
  background: #bfc7f0;
  width: 120px;
}
.codepoint_section .middle_table table tr td.byte-cell:hover {
  background: rgba(83, 80, 177, 0.3);
}
.codepoint_section .middle_textarea {
  padding-right: 10px;
  border-right: 1px solid #dddddd;
  width: 100%;
}
.codepoint_section .middle_textarea textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #dddddd;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  /*font-family: "Roboto Mono", monospace;*/
}
.codepoint_section .middle_textarea a {
  margin-top: 5px;
  font-size: 14px;
}
.codepoint_section .middle_items {
  margin-left: 10px;
  background: #f5f4ff;
  min-width: 270px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
}
.codepoint_section .middle_items ul li {
  font-size: 14px;
  padding: 2px 0 2px;
}
.codepoint_section .middle_items .items_m {
  margin: 0;
}
.codepoint_section .metadata_serch {
  align-items: center;
  gap: 10px;
}
.codepoint_section .metadata_serch input {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 2px 5px;
  height: 24px;
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.05);
  outline: none;
  margin: 0 0;
  box-shadow: 0px 1px 10px 0px rgba(45, 19, 106, 0.05);
  margin-left: 0;
}
.codepoint_section .metadata_serch .button.button_style {
  padding: 2px 5px;
  height: 24px;
  line-height: 1;
}
.codepoint_section .catagory_select {
  gap: 10px;
  margin: 5px 0;
  width: 100%;
}
.codepoint_section .catagory_select select {
  padding: 2px 5px;
}
.codepoint_section .catagory_select .button.button_style {
  padding: 2px 5px;
  height: 24px;
  line-height: 1;
}
.codepoint_section .category_list {
  width: 100%;
  overflow: hidden;
}
.codepoint_section .category_list select {
  width: 100%;
  height: 150px;
}

.popup-background {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}/*# sourceMappingURL=style.css.map */